# Auto detect text files and perform LF normalization
* text=auto

create database esc_prod;

USE esc_prod;
--Creación de la tabla de programas de la escuela//
CREATE TABLE programas(
id VARCHAR(4)NOT NULL,
nombre_pro VARCHAR(150)NOT NULL,
PRIMARY KEY (id));
INSERT INTO programas VALUES('16D','Ingenieria de produccion-Diurno');
INSERT INTO programas VALUES('16N','Ingenieria de produccion-Nocturno');
INSERT INTO programas VALUES('32D','Tecnologia en Higiene y seguridad Industrial-Diurno');
INSERT INTO programas VALUES('32N','Tecnologia en Higiene y seguridad Industrial-Nocturno');
INSERT INTO programas VALUES('38D','Ingenieria en Higiene y seguridad Industrial-Diurno');
INSERT INTO programas VALUES('38N','Ingenieria en Higiene y seguridad Industrial-Nocturno');
INSERT INTO programas VALUES('39D','Tecnologia electromecanica- Diurno');
INSERT INTO programas VALUES('39N','Tecnologia electromecanica-Nocturno');
INSERT INTO programas VALUES('47D','Ingenieria de produccion-Diurno');
INSERT INTO programas VALUES('47N','Ingenieria de produccion-Nocturno');
INSERT INTO programas VALUES('50N','Tecnologia en seguridad y salud en el trabajo-Nocturno');
INSERT INTO programas VALUES('53N','Tecnico profesional en operacion del transporte multimodal-Nocturno');
INSERT INTO programas VALUES('54N','Tecnologia en logistica del transporte multimodal-Nocturno');
INSERT INTO programas VALUES('55N','Especializacion  en tecnologica en empaque, embalaje y almacenamiento de mercancias en el transporte multimodal');
INSERT INTO programas VALUES('73N','Tecnologia en  de sistemas electromecanicos-Nocturno');
INSERT INTO programas VALUES('81D','Ingenieria en seguridad y salud en el trabajo-Diurno');
INSERT INTO programas VALUES('81N','Ingenieria en seguridad y salud en el trabajo-Nocturno');
--Fin de la creación de tablas para cada programa//

--Inicio de creacion de tablas del programa Ingenieria de produccion diurno	

-- Creacion de tabla con estudiantes
CREATE TABLE estu_ip16D(
id INT(15) NOT NULL,
nombre VARCHAR(200) NOT NULL,
email VARCHAR(150) ,
PRIMARY KEY(id));
INSERT INTO estu_ip16D VALUES(1096216581,'Kevin fernando ricardo sanabria','kevinsky_92@hotmail.com');
INSERT INTO estu_ip16D VALUES(1096222128,'Edna rocio collante trigos','ecollant292@correo.ean.edu.co');

-- Creacion de tabla de semestres en el programa
CREATE TABLE ip_16D(
id VARCHAR(10)NOT NULL,
name VARCHAR(20)NOT NULL,
PRIMARY KEY(id));

INSERT INTO ip_16D VALUES('16D-I','SEMESTRE I');
INSERT INTO ip_16D VALUES('16D-II','SEMESTRE II');
INSERT INTO ip_16D VALUES('16D-III','SEMESTRE III');
INSERT INTO ip_16D VALUES('16D-IV','SEMESTRE IV');
INSERT INTO ip_16D VALUES('16D-V','SEMESTRE V');
INSERT INTO ip_16D VALUES('16D-VI','SEMESTRE VI');
INSERT INTO ip_16D VALUES('16D-VII','SEMESTRE VII');
INSERT INTO ip_16D VALUES('16V-III','SEMESTRE VIII');
INSERT INTO ip_16D VALUES('16D-IX','SEMESTRE IX');
INSERT INTO ip_16D VALUES('16D-X','SEMESTRE X');

-- Pendiente las asignaturas y docentes por falta de información 


-- Inicio de creacion de tablas del programa Ingenieria de produccion Nocturno

-- Creacion de tabla con estudiantes
CREATE TABLE estu_ip16N(
id INT(15) NOT NULL,
nombre VARCHAR(200),NOT NULL,
email VARCHAR (150),
PRIMARY KEY(id));

INSER INTO estu_ip16N VALUES(1096185839,'Walter Samuel Hernandez Quintero','walter.produccion@hotmail.com');
INSER INTO estu_ip16N VALUES(1096193807,'Regis Antonio Torres Jimenez','shakespeare18379@hotmail.com');
INSER INTO estu_ip16N VALUES(1096194366,'Cesar Augusto Carreño','cesar-1907@hotmail.com');
INSER INTO estu_ip16N VALUES(1096197391,'William Andres Castañeda Yepes','wacy_88@hotmail.com');
INSER INTO estu_ip16N VALUES(1096208076,'Jessica Liseth Garcia Mendoza','jeligame_12@hotmail.com');
INSER INTO estu_ip16N VALUES(1096216128,'Anyi Licet Flautero Chacon','cangurita0514@hotmail.com');
INSER INTO estu_ip16N VALUES(1096225666,'Miller Alexander Bolaños Rangel','shart_42@hotmail.com');
INSER INTO estu_ip16N VALUES(1098609587,'Jhon Edinson Rubio Ardila','jerafl2003@hotmail.com');
INSER INTO estu_ip16N VALUES(49660754,'Alba Luz Santiago Mendoza','albajulian18@hotmail.com');

-- Creacion de tabla de semestres en el programa
CREATE TABLE ip_16N(
id VARCHAR(10)NOT NULL,
name VARCHAR(20)NOT NULL,
PRIMARY KEY(id));
INSERT INTO ip_16N VALUES('16N-I','SEMESTRE I');
INSERT INTO ip_16N VALUES('16N-II','SEMESTRE II');
INSERT INTO ip_16N VALUES('16N-III','SEMESTRE III');
INSERT INTO ip_16N VALUES('16N-IV','SEMESTRE IV');
INSERT INTO ip_16N VALUES('16N-V','SEMESTRE V');
INSERT INTO ip_16N VALUES('16N-VI','SEMESTRE VI');
INSERT INTO ip_16N VALUES('16N-VII','SEMESTRE VII');
INSERT INTO ip_16N VALUES('16N-VIII','SEMESTRE VIII');
INSERT INTO ip_16N VALUES('16N-IX','SEMESTRE IX');
INSERT INTO ip_16N VALUES('16N-X','SEMESTRE X');
-- Pendiente las asignaturas y docentes por falta de información 



-- Inicio de creacion de tablas del programa Ingenieria en higiene y seguridad industrial Diurno

-- Creacion de tabla con estudiantes

CREATE TABLE estu_ihsi38D(
id INT(15) NOT NULL,
nombre VARCHAR(200),NOT NULL,
email VARCHAR (150),
PRIMARY KEY(id));

INSERT INTO estu_ihsi38D VALUES();

--Creacion de tabla de semestres en el programa
CREATE TABLE ihsi_38D(
id VARCHAR(10)NOT NULL,
name VARCHAR(20)NOT NULL,
PRIMARY KEY(id));
INSERT INTO ihsi_38D VALUES('38D-I','SEMESTRE I');
INSERT INTO ihsi_38D VALUES('38D-II','SEMESTRE II');
INSERT INTO ihsi_38D VALUES('38D-III','SEMESTRE III');
INSERT INTO ihsi_38D VALUES('38D-IV','SEMESTRE IV');
INSERT INTO ihsi_38D VALUES('38D-V','SEMESTRE V');
INSERT INTO ihsi_38D VALUES('38D-VI','SEMESTRE VI');
INSERT INTO ihsi_38D VALUES('38D-VII','SEMESTRE VII');
INSERT INTO ihsi_38D VALUES('38D-VIII','SEMESTRE VIII');
INSERT INTO ihsi_38D VALUES('38D-IX','SEMESTRE IX');
INSERT INTO ihsi_38D VALUES('38D-X','SEMESTRE X');

CREATE TABLE ihsi_38N(
id VARCHAR(10)NOT NULL,
name VARCHAR(20)NOT NULL,
PRIMARY KEY(id));
INSERT INTO ihsi_38N VALUES('38N-I','SEMESTRE I');
INSERT INTO ihsi_38N VALUES('38N-II','SEMESTRE II');
INSERT INTO ihsi_38N VALUES('38N-III','SEMESTRE III');
INSERT INTO ihsi_38N VALUES('38N-IV','SEMESTRE IV');
INSERT INTO ihsi_38N VALUES('38N-V','SEMESTRE V');
INSERT INTO ihsi_38N VALUES('38N-VI','SEMESTRE VI');
INSERT INTO ihsi_38N VALUES('38N-VII','SEMESTRE VII');
INSERT INTO ihsi_38N VALUES('38N-VIII','SEMESTRE VIII');
INSERT INTO ihsi_38N VALUES('38N-IX','SEMESTRE IX');
INSERT INTO ihsi_38N VALUES('38N-X','SEMESTRE X');

CREATE TABLE ip_47D(
id VARCHAR(10)NOT NULL,
name VARCHAR(20)NOT NULL,
PRIMARY KEY(id));
INSERT INTO ip_47D VALUES('47D-I','SEMESTRE I');
INSERT INTO ip_47D VALUES('47D-II','SEMESTRE II');
INSERT INTO ip_47D VALUES('47D-III','SEMESTRE III');
INSERT INTO ip_47D VALUES('47D-IV','SEMESTRE IV');
INSERT INTO ip_47D VALUES('47D-V','SEMESTRE V');
INSERT INTO ip_47D VALUES('47D-VI','SEMESTRE VI');
INSERT INTO ip_47D VALUES('47D-VII','SEMESTRE VII');
INSERT INTO ip_47D VALUES('47D-VIII','SEMESTRE VIII');
INSERT INTO ip_47D VALUES('47D-IX','SEMESTRE IX');
INSERT INTO ip_47D VALUES('47D-X','SEMESTRE X');

CREATE TABLE ip_47N(
id VARCHAR(10)NOT NULL,
name VARCHAR(20)NOT NULL,
PRIMARY KEY(id));
INSERT INTO ip_47N VALUES('47N-I','SEMESTRE I');
INSERT INTO ip_47N VALUES('47N-II','SEMESTRE II');
INSERT INTO ip_47N VALUES('47N-III','SEMESTRE III');
INSERT INTO ip_47N VALUES('47N-IV','SEMESTRE IV');
INSERT INTO ip_47N VALUES('47N-V','SEMESTRE V');
INSERT INTO ip_47N VALUES('47N-VI','SEMESTRE VI');
INSERT INTO ip_47N VALUES('47N-VII','SEMESTRE VII');
INSERT INTO ip_47N VALUES('47N-VIII','SEMESTRE VIII');
INSERT INTO ip_47N VALUES('47N-IX','SEMESTRE IX');
INSERT INTO ip_47N VALUES('47N-X','SEMESTRE X');

CREATE TABLE isst_81D(
id VARCHAR(10)NOT NULL,
name VARCHAR(20)NOT NULL,
PRIMARY KEY(id));
INSERT INTO isst_81D VALUES('81D-I','SEMESTRE I');
INSERT INTO isst_81D VALUES('81D-II','SEMESTRE II');
INSERT INTO isst_81D VALUES('81D-III','SEMESTRE III');
INSERT INTO isst_81D VALUES('81D-IV','SEMESTRE IV');
INSERT INTO isst_81D VALUES('81D-V','SEMESTRE V');
INSERT INTO isst_81D VALUES('81D-VI','SEMESTRE VI');
INSERT INTO isst_81D VALUES('81D-VII','SEMESTRE VII');
INSERT INTO isst_81D VALUES('81D-VIII','SEMESTRE VIII');
INSERT INTO isst_81D VALUES('81D-IX','SEMESTRE IX');
INSERT INTO isst_81D VALUES('81D-X','SEMESTRE X');

CREATE TABLE isst_81N(
id VARCHAR(10) NOT NULL,
name VARCHAR(20)NOT NULL,
PRIMARY KEY(id));
INSERT INTO isst_81N VALUES('81N-I','SEMESTRE I');
INSERT INTO isst_81N VALUES('81N-II','SEMESTRE II');
INSERT INTO isst_81N VALUES('81N-III','SEMESTRE III');
INSERT INTO isst_81N VALUES('81N-IV','SEMESTRE IV');
INSERT INTO isst_81N VALUES('81N-V','SEMESTRE V');
INSERT INTO isst_81N VALUES('81N-VI','SEMESTRE VI');
INSERT INTO isst_81N VALUES('81N-VII','SEMESTRE VII');
INSERT INTO isst_81N VALUES('81N-VIII','SEMESTRE VIII');
INSERT INTO isst_81N VALUES('81N-IX','SEMESTRE IX');
INSERT INTO isst_81N VALUES('81N-X','SEMESTRE X');

CREATE TABLE tisi_32D(
id VARCHAR(10) NOT NULL,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id));
INSERT INTO tisi_32D VALUES('32D-I','SEMESTRE I');
INSERT INTO tisi_32D VALUES('32D-II','SEMESTRE II');
INSERT INTO tisi_32D VALUES('32D-III','SEMESTRE IIII');
INSERT INTO tisi_32D VALUES('32D-IV','SEMESTRE IV');
INSERT INTO tisi_32D VALUES('32D-V','SEMESTRE V');
INSERT INTO tisi_32D VALUES('32D-VI','SEMESTRE VI');

CREATE TABLE tisi_32N(
id VARCHAR(10) NOT NULL,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id));
INSERT INTO tisi_32N VALUES('32N-I','SEMESTRE I');
INSERT INTO tisi_32N VALUES('32N-II','SEMESTRE II');
INSERT INTO tisi_32N VALUES('32N-III','SEMESTRE IIII');
INSERT INTO tisi_32N VALUES('32N-IV','SEMESTRE IV');
INSERT INTO tisi_32N VALUES('32N-V','SEMESTRE V');
INSERT INTO tisi_32N VALUES('32N-VI','SEMESTRE VI');

CREATE TABLE te_39D(
id VARCHAR(10) NOT NULL,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id));
INSERT INTO te_39D VALUES('39D-I','SEMESTRE I');
INSERT INTO te_39D VALUES('39D-II','SEMESTRE II');
INSERT INTO te_39D VALUES('39D-III','SEMESTRE IIII');
INSERT INTO te_39D VALUES('39D-IV','SEMESTRE IV');
INSERT INTO te_39D VALUES('39D-V','SEMESTRE V');
INSERT INTO te_39D VALUES('39D-VI','SEMESTRE VI');

CREATE TABLE te_39N(
id VARCHAR(10) NOT NULL,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id));
INSERT INTO te_39N VALUES('39N-I','SEMESTRE I');
INSERT INTO te_39N VALUES('39N-II','SEMESTRE II');
INSERT INTO te_39N VALUES('39N-III','SEMESTRE IIII');
INSERT INTO te_39N VALUES('39N-IV','SEMESTRE IV');
INSERT INTO te_39N VALUES('39N-V','SEMESTRE V');
INSERT INTO te_39N VALUES('39N-VI','SEMESTRE VI');

CREATE TABLE tsst_50N(
id VARCHAR(10) NOT NULL,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id));
INSERT INTO tsst_50N VALUES('50N-I','SEMESTRE I');
INSERT INTO tsst_50N VALUES('50N-II','SEMESTRE II');
INSERT INTO tsst_50N VALUES('50N-III','SEMESTRE IIII');
INSERT INTO tsst_50N VALUES('50N-IV','SEMESTRE IV');
INSERT INTO tsst_50N VALUES('50N-V','SEMESTRE V');
INSERT INTO tsst_50N VALUES('50N-VI','SEMESTRE VI');

CREATE TABLE tltm_54N(
id VARCHAR(10) NOT NULL,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id));
INSERT INTO tltm_54N VALUES('54N-I','SEMESTRE I');
INSERT INTO tltm_54N VALUES('54N-II','SEMESTRE II');
INSERT INTO tltm_54N VALUES('54N-III','SEMESTRE IIII');
INSERT INTO tltm_54N VALUES('54N-IV','SEMESTRE IV');
INSERT INTO tltm_54N VALUES('54N-V','SEMESTRE V');
INSERT INTO tltm_54N VALUES('54N-VI','SEMESTRE VI');

CREATE TABLE tose_73N(
id VARCHAR(10) NOT NULL,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id));
INSERT INTO tose_73N VALUES('73N-I','SEMESTRE I');
INSERT INTO tose_73N VALUES('73N-II','SEMESTRE II');
INSERT INTO tose_73N VALUES('73N-III','SEMESTRE IIII');
INSERT INTO tose_73N VALUES('73N-IV','SEMESTRE IV');
INSERT INTO tose_73N VALUES('73N-V','SEMESTRE V');
INSERT INTO tose_73N VALUES('73N-VI','SEMESTRE VI');

CREATE TABLE tpotm_53N(
id VARCHAR(10) NOT NULL,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id));
INSERT INTO tpotm_53N VALUES('53N-I','SEMESTRE I');
INSERT INTO tpotm_53N VALUES('53N-II','SEMESTRE II');
INSERT INTO tpotm_53N VALUES('53N-III','SEMESTRE IIII');
INSERT INTO tpotm_53N VALUES('53N-IV','SEMESTRE IV');

CREATE TABLE eteeamtm_55N(
id VARCHAR(10) NOT NULL,
name VARCHAR(20) NOT NULL,
PRIMARY KEY(id));
INSERT INTO eteeamtm_55N VALUES('55N-I','SEMESTRE I');